streamlit==1.38.0
faster-whisper==1.0.3
onnxruntime==1.23.0
pydub==0.25.1
soundfile==0.12.1
numpy==1.26.4
av==12.3.0
pillow==10.4.0
pandas==2.2.2
huggingface-hub==0.35.3
tokenizers==0.22.1
matplotlib==3.9.2
wordcloud==1.9.3
fpdf==1.7.2
